<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <title>Webová stránka pro potápěče</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>

<body>

<header>
  <div class="container">

   <!-- <img src= alt="logo" class="logo"> -->


    <nav>
      <ul>
        <li><a href="{{url_for('o_projektu')}}">O projektu</a></li>
        <li><a href="{{url_for('instruktori')}}">Instruktoři</a></li>
        <li><a href="{{url_for('info')}}">Kontakt</a></li>
        <li><a href="{{url_for('login')}}">Přihlášení</a></li>
        <li><a href="#">Registrace</a></li>
      </ul>
    </nav>
  </div>

</header>

<div class="obsah">
    <!-- Cokoliv kromě řádku 30-32 se bude zobrazovat všude-->
    {% block content %}

    {% endblock %}
</div>


<footer>
    <h1>tady je footer</h1>
</footer>


</body>
</html>